.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

h4 {
  padding: 5px 0 0 5px;
  margin: 0;
}

hr {
  margin: 10px 0 10px 0;
}

#header {
  background-color: slategrey;
  color: aliceblue;
  padding: 5px 0 0 5px;
}

#header p {
  padding-left: 7px;
}

#resume {
  background-color: white;
  color: dimgrey;
}

.techcomp {
  padding: 5px 25px 5px 25px;
  width: 200px;
  vertical-align: text-top;
  font-size: 0.9em;
}

.techdata {
  padding: 5px 25px 5px 15px;
  width: 550px;
  vertical-align: text-top;
  font-size: 0.9em;
}

.title {
  float: left;
  padding: 5px 0 0 5px;
  margin: 0;
}

.date {
  float: right;
}

.experienceDesc {
  clear: both;
  padding-top: 10px;
  width: 750px;
}
