.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

img {
  border: 3px solid white;
  border-radius: 80px;
}

h4 {
  padding-top: 5px;
  margin: 0;
}

hr {
  margin: 10px 0 10px 0;
}

#header {
  background-color: #444341;
  color: aliceblue;
  padding: 5px 0 0 5px;
}

#brand {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  background: #7F7D7E;
  color: white;
  font-family: helvetica;
  font-size: 22px;
  text-align: center;
  opacity: 0.75;
}

#hero {
  background: url("../images/everestCropped.png");
  background-size: cover;
  background-position: center;
  height: 700px;
  padding-top: 125px;
}

#resume {
  background-color: white;
  color: dimgrey;
}

.techcomp {
  padding: 5px 25px 5px 25px;
  width: 200px;
  vertical-align: text-top;
  font-size: 0.9em;
}

.techdata {
  padding: 5px 25px 5px 15px;
  width: 550px;
  vertical-align: text-top;
  font-size: 0.9em;
}

.title {
  float: left;
  padding: 5px 0 0 5px;
  margin: 0;
}

.date {
  float: right;
}

.experienceDesc {
  clear: both;
  padding-top: 10px;
}

#educationGSU {
  clear: both;
  padding-top: 10px;
}

#militaryDesc {
  clear: both;
  padding-top: 10px;
}

#name {
  float: left;
  padding: 5px 0 0 5px;
  margin: 0;
}

#info {
  float: right;
}
